---
        import Section from '../components/Section.astro'
        import Nav from '../components/Nav.astro'
        import Footer from '../components/Footer.astro'
        import TeamMembers from '../components/TeamMembers.astro'
        import Labs from '../components/Labs.astro'
        import Talon from '../components/Talon.astro'
        import CTA from '../components/CTA.svelte'

        import Layout from '../layouts/Layout.astro'
        import logo from '/images/logo.svg'
        import logoHor from '/images/logo-hor.svg'
        import parallaxTop from '/images/parallax-top.svg'
        import parallaxBot from '/images/parallax-bot.svg'
        import lettering from '/images/logo-lettering.webp'

        import { Content as Manifesto } from '../data/manifesto.md'
        import { Content as Core } from '../data/core.labs.md'
        import { Content as Cedar } from '../data/cedar.labs.md'

        const getTwitterLink = (handle) => {
        return `https://twitter.com/${handle.slice(1)}`
}

---

<Layout title="Underground Society NFT">
    <div id="hero" class="hero snap-start min-h-screen bg-fixed bg-[url('/images/bg2.gif')]">
        <div class="hero-overlay backdrop-contrast-125 backdrop-brightness-125 bg-opacity-20"></div>
        <div class="hero-content text-center text-neutral-content h-full items-end show-on-scroll">
            <a href="#manifesto" class="btn btn-primary shadow mb-8 motion-safe:animate-bounce">Get Started</a>
        </div>
    </div>
    <main>
        <Nav/>
        <div class="snap-start scroll-mt-[4rem]">
            <Manifesto/>
        </div>

        <Labs/>
        <div class="relative snap-center w-full h-[75vh] bg-[url(/images/ai/nebuchadnezzar.png)] bg-fixed bg-cover bg-origin-border bg-center">
            <div class="flex absolute w-full h-full z-0 bg-base-100/30"></div>
            <img class="absolute w-1/2 lg:w-1/4 inset-x-0 inset-y-0 m-auto invert" src={lettering} alt=""/>
            <img class="absolute bottom-0 w-full z-10" src={parallaxTop} alt=""/>
            <img class="absolute top-0 w-full z-10" src={parallaxBot} alt=""/>
        </div>
        <Talon/>
        <div class="relative snap-center w-full h-screen bg-[url(/images/ai/boy-standing-2.png)] bg-fixed bg-cover bg-origin-border bg-center">
            <div class="flex absolute w-full h-full z-0 bg-base-100/30"></div>
            <img class="absolute w-1/2 lg:w-1/4 inset-x-0 inset-y-0 m-auto invert" src={lettering} alt=""/>
            <img class="absolute bottom-0 w-full z-10" src={parallaxTop} alt=""/>
            <img class="absolute top-0 w-full z-10" src={parallaxBot} alt=""/>
        </div>
        <TeamMembers/>
        <Footer/>
    </main>
</Layout>

<script defer>
const callback = function (entries) {
    entries.forEach((entry) => {

        if (entry.isIntersecting) {
            entry.target.classList.add("motion-safe:animate-fade-in-down");
        } else {
            entry.target.classList.remove("motion-safe:animate-fade-in-down");
        }
    });
};

const observer = new IntersectionObserver(callback);

const targets = document.querySelectorAll(".show-on-scroll");
targets.forEach(function (target) {
    target.classList.add("opacity-0");
    observer.observe(target);
});

const IdSections = ["manifesto", "labs", "talon", "team"]
const currentSection = (sections) => {
    sections.forEach((section) => {
        const navSection = document.getElementById(`nav-section-${section.target.id}`)
        if (section.intersectionRatio > 0.3) {
            navSection.classList.add("activeSection")
        } else {
            navSection.classList.remove("activeSection")
        }
    })
}
const navObserver = new IntersectionObserver(currentSection, {threshold: 0.3})

IdSections.forEach((id) => {
    const sections = document.getElementById(id)
    navObserver.observe(sections)
})

</script>