---
        import Nav from '../components/Nav.astro'

        import Layout from '../layouts/Layout.astro';
        import logo from '/images/logo.svg'
        import altLogo from '/images/logo-alt-hor.svg'
        import lettering from '/images/logo-lettering.webp'

        import { Content as Manifesto } from '../data/manifesto.md'

        const catchphrase = 'Building the future under the ground'

        const teamMembers = await Astro.glob('../data/*.team.json')
        const designMembers = await Astro.glob('../data/*.design.json')

        teamMembers.sort((a, b) => a.order - b.order)
        designMembers.sort((a, b) => a.order - b.order)

        const getTwitterLink = (handle) => {
            return `https://twitter.com/${handle.slice(1)}`
        }

---

<Layout title="Underground Society NFT">
    <div id="hero" class="hero min-h-screen bg-fixed bg-[url('/images/bg2.gif')]">
        <div class="hero-overlay backdrop-contrast-125 backdrop-brightness-125 bg-opacity-20"></div>
        <div class="hero-content text-center text-neutral-content h-full items-end show-on-scroll">
            <a href="#manifesto" class="btn btn-primary shadow mb-8 motion-safe:animate-bounce">Get Started</a>
        </div>
    </div>
    <main class="">
        <Nav>
            <div id="manifesto" class="min-h-screen scroll-mt-[4rem] p-4 show-on-scroll">
                <Manifesto />
            </div>
            <div id="team" class="scroll-mt-[4rem] h-fit mb-10 p-4">
                <h1>Core team</h1>

                <div class="flex flex-wrap gap-8 w-full md:w-3/4 justify-center mx-auto">
                    {teamMembers.map(m => (
                    <div client:visible class="card w-96 bg-base-100 shadow-xl show-on-scroll">
                        <figure><img src={m.avatarUrl} alt="avatar"/></figure>
                        <div class="card-body">
                            <h2 class="card-title">{m.name}</h2>
                            <div class="flex justify-between">
                                <span class="badge badge-lg">{m.job}</span>
                                <a href={getTwitterLink(m.twitter)} target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         class="fill-current hover:fill-secondary">
                                        <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
                                    </svg>
                                </a>
                            </div>
                            <p class="prose">{m.description}</p>
                        </div>
                    </div>
                    )
                    )}
                </div>
            </div>

            <div id="design" class="scroll-mt-[4rem] h-fit mb-10 p-4">
                <h1>Design team</h1>

                <div class="flex flex-wrap gap-8 w-full md:w-3/4 justify-center mx-auto">
                    {designMembers.map(m => (
                    <div client:visible class="card w-96 bg-base-100 shadow-xl show-on-scroll">
                        <figure><img src={m.avatarUrl} alt="avatar"/></figure>
                        <div class="card-body">
                            <h2 class="card-title">{m.name}</h2>
                            <div class="flex justify-between">
                                <span class="badge badge-lg">{m.job}</span>
                                <a href={getTwitterLink(m.twitter)} target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     class="fill-current hover:fill-secondary">
                                    <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
                                </svg>
                            </a>
                        </div>
                            <p class="prose">{m.description}</p>
                        </div>
                    </div>
                    )
                    )}
                </div>
            </div>


        </Nav>
        <footer class="footer p-10 bg-neutral text-neutral-content">

        <div class="flex flex-col justify-end gap-4">
            <div class="h-40 flex items-center overflow-y-hidden">
                <img src={altLogo} class="w-96 object-cover" alt="footer logo"/>
            </div>
                <span class="text-neutral-content">© Underground Society 2022 - {catchphrase}</span>
                <span class="text-neutral-content">Built by <a class="underline text-primary" target="_blank" href="https://github.com/Sonicfury">johnnyBoy</a></span>
            <span class="text-neutral-content"></span>
        </div>
            <div>
                <span class="footer-title">Social</span>
                <div class="grid grid-flow-col gap-4">
                    <a href={getTwitterLink('@UnderSocietyNFT')} target="_blank" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             class="fill-current hover:fill-primary">
                            <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
                        </svg>
                    </a>

                <a target="_blank" href="https://discord.gg/URUtbxtNVj">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="fill-current hover:fill-primary">
                        <path d="M20.317 4.4921C18.7873 3.80147 17.147 3.29265 15.4319 3.00122C15.4007 2.9956 15.3695 3.00965 15.3534 3.03777C15.1424 3.40697 14.9087 3.88862 14.7451 4.26719C12.9004 3.99545 11.0652 3.99545 9.25832 4.26719C9.09465 3.8802 8.85248 3.40697 8.64057 3.03777C8.62449 3.01059 8.59328 2.99654 8.56205 3.00122C6.84791 3.29172 5.20756 3.80054 3.67693 4.4921C3.66368 4.49772 3.65233 4.5071 3.64479 4.51928C0.533392 9.09311 -0.31895 13.5545 0.0991801 17.9606C0.101072 17.9822 0.11337 18.0028 0.130398 18.0159C2.18321 19.4993 4.17171 20.3998 6.12328 20.9967C6.15451 21.0061 6.18761 20.9949 6.20748 20.9695C6.66913 20.3492 7.08064 19.6952 7.43348 19.0073C7.4543 18.967 7.43442 18.9192 7.39186 18.9033C6.73913 18.6597 6.1176 18.3626 5.51973 18.0253C5.47244 17.9981 5.46865 17.9316 5.51216 17.8997C5.63797 17.8069 5.76382 17.7104 5.88396 17.613C5.90569 17.5952 5.93598 17.5914 5.96153 17.6026C9.88928 19.3672 14.1415 19.3672 18.023 17.6026C18.0485 17.5905 18.0788 17.5942 18.1015 17.612C18.2216 17.7095 18.3475 17.8069 18.4742 17.8997C18.5177 17.9316 18.5149 17.9981 18.4676 18.0253C17.8697 18.3692 17.2482 18.6597 16.5945 18.9024C16.552 18.9183 16.533 18.967 16.5538 19.0073C16.9143 19.6942 17.3258 20.3483 17.7789 20.9686C17.7978 20.9949 17.8319 21.0061 17.8631 20.9967C19.8241 20.3998 21.8126 19.4993 23.8654 18.0159C23.8834 18.0028 23.8948 17.9831 23.8967 17.9616C24.3971 12.8676 23.0585 8.4428 20.3482 4.52021C20.3416 4.5071 20.3303 4.49772 20.317 4.4921ZM8.02002 15.2778C6.8375 15.2778 5.86313 14.2095 5.86313 12.8976C5.86313 11.5857 6.8186 10.5175 8.02002 10.5175C9.23087 10.5175 10.1958 11.5951 10.1769 12.8976C10.1769 14.2095 9.22141 15.2778 8.02002 15.2778ZM15.9947 15.2778C14.8123 15.2778 13.8379 14.2095 13.8379 12.8976C13.8379 11.5857 14.7933 10.5175 15.9947 10.5175C17.2056 10.5175 18.1705 11.5951 18.1516 12.8976C18.1516 14.2095 17.2056 15.2778 15.9947 15.2778Z"/>
                    </svg>
                </a>
                </div>
            </div>
        </footer>
    </main>
</Layout>

<script defer>
        const callback = function (entries) {
        entries.forEach((entry) => {

        if (entry.isIntersecting) {
        entry.target.classList.add("motion-safe:animate-fade-in-down");
        } else {
        entry.target.classList.remove("motion-safe:animate-fade-in-down");
        }
        });
        };

        const observer = new IntersectionObserver(callback);

        const targets = document.querySelectorAll(".show-on-scroll");
        targets.forEach(function (target) {
        target.classList.add("opacity-0");
        observer.observe(target);
        });
</script>